<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form action="/formdata" method="post" enctype="multipart/form-data">
            <label>Name:</label>
            <input type="text" name="name"/>
            <label>Files:</label>
            <input type="file" name="file" multiple/>
            <button>Submit</button>
        </form>
    </body>
</html>